@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('/fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Thin.ttf')
    format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('/fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Light.ttf')
    format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('/fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Regular.ttf')
    format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('/fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Medium.ttf')
    format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('/fonts/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Bold.ttf')
    format('woff');
  font-weight: 700;
}

:root {
  --navbar-height: 4rem;
  --footer-height: 8rem;
}
@media (min-width: 768px) {
  :root {
    --footer-height: 10rem;
  }
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

main {
  @apply md:px-6 pt-4 flex flex-col items-center justify-start;
  min-height: calc(100vh - var(--footer-height));
  padding-top: var(--navbar-height);
}
